<div class="hometab box">
	<!-- <div class="box-heading"><span>{{ heading_title }}</span></div> -->
<div class="container">
<div id="tabs" class="htabs">
	<div class="tab-title-main">
  <ul class='etabs nav nav-tabs'>
	<li class='nav-item'>
		{% if latestproducts %}
			<a href="#tab-latest" data-toggle="tab" class="nav-link">{{ tab_latest }}</a>
		{% endif %}
	</li>
  		<li class='nav-item active'>
		{% if bestsellersproducts %}
		<a href="#tab-bestseller" data-toggle="tab" class="nav-link">{{ tab_bestseller }}</a>
		{% endif %}
	</li>
	
	<li class='nav-item'>
		{% if specialproducts %}
			<a href="#tab-special" data-toggle="tab" class="nav-link">{{ tab_special }}</a>
		{% endif %}
	</li>
	</ul>
	</div>

 	
 <div class="tab-content">
{% if bestsellersproducts %}
 <div id="tab-bestseller" class="tab-pane active">
    	  <div class="box">
				<div class="box-content">
					{% set sliderFor = 5 %}
					{%	set productCount = bestsellersproducts|length %}
					
					{% if productCount >= sliderFor %}
	 <div id="bestseller-arrows" class="arrows"> </div>	
					{% endif %}
					<div class="box-product {% if productCount >= sliderFor %}bestseller-slider{% else %} productbox-grid{% endif %}" id="{% if productCount >= sliderFor %}bestseller-slider{% else %}tabbestseller-grid{% endif %}">
						{% set temp2=0 %} 						
						{% for product in bestsellersproducts %}
						
							{% if (productCount >= sliderFor) %}
								{% if (productCount > 8 and temp2 % 2 == 0) %} 
								<div class="slider-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div>
								{% elseif (productCount <= 8) %} 
								<div class="slider-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
								{% endif %} 
							{% else %} 
							<div class="product-items col-lg-3 col-md-3 col-sm-6 col-xs-12">
							{% endif %}
							
							
								<div class="product-block product-thumb transition">
								
									<div class="product-block-inner">	  	

			            							<div class="image">
											{% if product.thumb_swap %}
											<a href="{{ product.href }}">
											<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
											<img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
											</a>
											{% else %}
											<a href="{{ product.href }}">
											<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
											{% endif %}

										{% if not product.special %}        
					                    {% else %}
					                    <div class="saleback">
					                    <span class="saleicon sale">Sale</span>         
					                    </div>
					                    {% endif %}

					    


										</div>
										
			<div class="caption">

				
			{# if product.rating #}
				<span class="rating">
				{% for i in 1..5 %}
				{% if product.rating < i %}
				<span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
				{% else %}
				<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
				{% endif %}
				{% endfor %}
				</span>

				{# endif #}	
			<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>			
			{# <p class="desc"><?php echo $product['description']; ?></p> #}
								
			{% if product.price %}
													<p class="price">
													{% if not product.special %}
													{{ product.price }}
													{% else %}
													<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
													{% endif %}
													{% if product.tax %}
													<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
													{% endif %}
													    
											{% if product.special %}
					<span class="percentsaving">{{ product.percentsaving }}% off</span>
					{% endif %}
					 
													</p>
												{% endif %}
												    <div class="button-group">
				 <button type="button"   data-toggle="tooltip" data-placement="top" title="Add to cart" class="addtocart" onclick="cart.add('{{ product.product_id }} ');">{{ button_cart }}<!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
												</button>  
       			 <div class="quickview"  data-toggle="tooltip" data-placement="top" title="Quickview" ><a href="{{ product.quick }}">Quick View<!-- <i class="fa fa-eye" aria-hidden="true"></i> --></a></div>
	            <button class="wishlist" type="button" data-toggle="tooltip" data-placement="top" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"><i class="fa fa-heart"></i></button>
	            <button class="compare" type="button" data-toggle="tooltip" data-placement="top" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"><i class="fa fa-exchange"></i></button>	
	                   
              </div>
										</div>
									</div>
								</div>
							{% if (productCount >= sliderFor) %}
								{% if (productCount > 8 and temp2 % 2 != 0) %} 
								</div>
								</div>
								{% elseif (productCount <= 8) %} 
								</div>
								{% endif %} {% set temp2 = temp2 + 1 %} 
							{% else %} 
								</div>
							{% endif %} 

  
                            {% endfor %}
							
					    {% if (productCount > 8 and temp2 % 2 != 0) %}
							</div>
							</div>
						{% endif %}
							
</div>
</div>
  </div>
 </div>
{% endif %}
{% if latestproducts %}
<div id="tab-latest" class=" tab-pane">
	<div class="box">
				<div class="box-content">

					{% set sliderFor = 5 %}
					{%	set productCount = latestproducts|length %}
					
						{% if productCount >= sliderFor %}	
						 <div id="latest-arrows" class="arrows"> </div>
					{% endif %}
					<div class="{% if productCount >= sliderFor %}tablatest-slider{% else %} productbox-grid{% endif %}" id="{% if productCount >= sliderFor %}tablatest-slider{% else %}tablatest-grid{% endif %}">
					
					{% set temp2=0 %} 
					
					{% for product in latestproducts %}
					
							 {% if (productCount >= sliderFor) %}
								{% if (productCount > 8 and temp2 % 2 == 0) %} 
								<div class="slider-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div>
								{% elseif (productCount <= 8) %} 
								<div class="slider-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
								{% endif %} 
							{% else %} 
							<div class="product-items col-lg-3 col-md-3 col-sm-6 col-xs-12">
							{% endif %} 
					
								<div class="product-block product-thumb transition">
					
									<div class="product-block-inner">	  	
            							<div class="image">
											{% if product.thumb_swap %}
											<a href="{{ product.href }}">
											<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
											<img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
											</a>
											{% else %}
											<a href="{{ product.href }}">
											<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
											{% endif %}

										{% if not product.special %}        
					                    {% else %}
					                    <div class="saleback">
					                    <span class="saleicon sale">Sale</span>         
					                    </div>
					                    {% endif %}
	 											
			

						</div>
										
											<div class="caption">
												<span class="rating">
													{% for i in 1..5 %}
													{% if product.rating < i %}
													<span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
													{% else %}
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
													{% endif %}
													{% endfor %}
													</span>
												{# endif #}
											<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
												{# <p class="desc"><?php echo $product['description']; ?></p> #}
												
												{% if product.price %}
													<p class="price">
													{% if not product.special %}
													{{ product.price }}
													{% else %}
													<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
													{% endif %}
													{% if product.tax %}
													<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
													{% endif %}
													{% if product.special %}
													<span class="percentsaving">{{ product.percentsaving }}% off</span>
													{% endif %}
													{# if product.rating #}
													
													</p>
												{% endif %}
												
												<div class="button-group">
				<button type="button"  data-placement="top" data-toggle="tooltip" title="Add to cart" class="addtocart" onclick="cart.add('{{ product.product_id }} ');">{{ button_cart }}<!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
 										</button>    
 				 <div class="quickview"  data-toggle="tooltip" data-placement="top" title="Quickview" ><a href="{{ product.quick }}">Quick View<!-- <i class="fa fa-eye" aria-hidden="true"></i> --></a></div>
	            <button class="wishlist" type="button" data-toggle="tooltip" data-placement="top" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"><i class="fa fa-heart"></i></button>
	            <button class="compare" type="button" data-toggle="tooltip" data-placement="top" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"><i class="fa fa-exchange"></i></button>	
	                   
              </div>  	
										
											
										</div>
									</div>
								</div>
							
							{% if (productCount >= sliderFor) %}
								{% if (productCount > 8 and temp2 % 2 != 0) %} 
								</div>
								</div>
								{% elseif (productCount <= 8) %} 
								</div>
								{% endif %} {% set temp2 = temp2 + 1 %} 
							{% else %} 
								</div>
							{% endif %} 

  
                            {% endfor %}
							
					    {% if (productCount > 8 and temp2 % 2 != 0) %}
							</div>
							</div>
						{% endif %}
							
</div>
</div>
  </div>

 </div>
{% endif %}

{% if specialproducts %}
 <div id="tab-special" class="tab-pane">
    	 <div class="box">
				<div class="box-content">
					
					{% set sliderFor = 5 %}
					{%	set productCount = specialproducts|length %}
					
					{% if productCount >= sliderFor %}
	 		<div id="special-arrows" class="arrows"> </div>	
					{% endif %}
					
					<div class="box-product {% if productCount >= sliderFor %}special-slider{% else %} productbox-grid{% endif %}" id="{% if productCount >= sliderFor %}special-slider{% else %}tabspecial-grid{% endif %}">
					
					{% set temp2=0 %}
					
					{% for product in specialproducts %}
					
							{% if (productCount >= sliderFor) %}
								{% if (productCount > 8 and temp2 % 2 == 0) %} 
								<div class="slider-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
									<div>
								{% elseif (productCount <= 8) %} 
								<div class="slider-item col-lg-3 col-md-3 col-sm-6 col-xs-12">
								{% endif %} 
							{% else %} 
							<div class="product-items col-lg-3 col-md-3 col-sm-6 col-xs-12">
							{% endif %}
					
								<div class="product-block product-thumb transition">
					
									<div class="product-block-inner">	  	
            							<div class="image">
											{% if product.thumb_swap %}
											<a href="{{ product.href }}">
											<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
											<img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
											</a>
											{% else %}
											<a href="{{ product.href }}">
											<img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
											{% endif %}

										{% if not product.special %}        
					                    {% else %}
					                    <div class="saleback">
					                    <span class="saleicon sale">Sale</span>         
					                    </div>
					                    {% endif %}

													

						</div>
										
											<div class="caption">
												{# if product.rating #}
													 <span class="rating">
													 {% for i in 1..5 %}
													 {% if product.rating < i %}
													 <span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
													 {% else %}
													<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
													 {% endif %}
													 {% endfor %}
													 </span>
												{# endif #}
												<h4><a href="{{ product.href }} ">{{ product.name }} </a></h4>
												{# <p class="desc"><?php echo $product['description']; ?></p> #}
												 
												{% if product.price %}
													<p class="price">
													{% if not product.special %}
													{{ product.price }}
													{% else %}
													<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
													{% endif %}
													{% if product.tax %}
													<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
													{% endif %}
													{% if product.special %}
												<span class="percentsaving">{{ product.percentsaving }}% off</span>
												{% endif %}
												
													</p>
												{% endif %}
											          			
					                   
				<div class="button-group">
				 <button type="button" data-placement="top" data-toggle="tooltip" title="Add to cart" class="addtocart" onclick="cart.add('{{ product.product_id }} ');">{{ button_cart }}<!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
										</button>  
        		<div class="quickview"  data-toggle="tooltip" data-placement="top" title="Quickview" ><a href="{{ product.quick }}">Quick View<!-- <i class="fa fa-eye" aria-hidden="true"></i> --></a></div>
	            <button class="wishlist" type="button" data-toggle="tooltip" data-placement="top" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"><i class="fa fa-heart"></i></button>
	            <button class="compare" type="button" data-toggle="tooltip" data-placement="top" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"><i class="fa fa-exchange"></i></button>	 
	                   
              </div>
										
											
										</div>
									</div>
								</div>
							 {% if (productCount >= sliderFor) %}
								{% if (productCount > 8 and temp2 % 2 != 0) %} 
								</div>
								</div>
								{% elseif (productCount <= 8) %} 
								</div>
								{% endif %} {% set temp2 = temp2 + 1 %} 
							{% else %} 
								</div>
							{% endif %} 

  
                            {% endfor %}
							
					    {% if (productCount > 8 and temp2 % 2 != 0) %}
							</div>
							</div>
						{% endif %}
							
</div>

 </div>
{% endif %}
</div>
</div>
</div>
</div>
 </div>
  </div>
