<div class="box brands">
<div class="box-heading">Brand logo</div>
<div id="brand-slider" class="brands-slider">
  <div class="container"><!-- container -->
    <div class="row">
 <div id="brand-arrows" class="arrows"> </div> 
  <div class="brands-slider" id="brandslider">
    {% for banner in banners %}
    	<div class="slider-item">
		<div class="product-block">
		<div class="product-block-inner">
			{% if banner.link %}
   <a href="{{ banner.link }}"><img src="{{ banner.image }}" alt="{{ banner.title }}" /></a>
    {% else %}
    <img src="{{ banner.image }}" alt="{{ banner.title }}" />
    {% endif %}
		</div></div></div>
    {% endfor %}
  </div>
  </div>
  </div>
</div>
</div>
