{{ header }}
<div id="common-home">
<div class="content-top">
<div id="content1" class="{{ class }}">{{ content_top }}</div>
<div class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
   
        </div>
        </div>
    </div>
    <div class="content-bottom">
 <div class="container">
    <div id="content">{{ content_bottom }}</div>
    {{ column_right }}
</div>
</div>
</div>

{{ footer }}

<script type="text/javascript">
    /*============ Background Video Play =================*/
$(".video").click(function() {
        $.fancybox({
            'padding'       : 0,
            'autoScale'     : false,
            'transitionIn'  : 'none',
            'transitionOut' : 'none',
            'title'         : this.title,
            'width'         : 750,
            'height'        : 455,
            'href'          : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
            'type'          : 'swf',
            'swf'           : {
            'wmode'             : 'transparent',
            'allowfullscreen'   : 'true'
            }
        });

        return false;
    });




    //init videoBackground for html video
    $('.html-video-background').videoBackground();



    //init youtube
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var ytPlayers = [];

    onYouTubePlayerAPIReady = function () {

        var players = document.querySelectorAll('.youtube-video');


        for (var i = 0; i < players.length; i++) {
            var player = new YT.Player(players[i], {
                playerVars: {
                    'autoplay': 1,
                    'loop': 1,
                    'rel': 0,
                    'showinfo': 0,
                    'controls': 0,
                    'modestbranding': 1,
                    'playlist': players[i].getAttribute("data-yt-id")

                },
                videoId: players[i].getAttribute("data-yt-id"),
                events: {
                    'onReady': onPlayerReady
                }

            });

            ytPlayers.push(player);
        }
    };

    function onPlayerReady(event) {

        event.target.mute();


        //init videoBackground for youtube video
        $('.youtube-video-background').videoBackground();

    }
</script>